:root{
    --bg-color: #2c1859;
    --font-color: #f5f5f5;
    --bg-center: #ffffff35;
    --bg-cards: #FFFFFF20;
    --card1: #8fd053;
    --card2: #f1731f;
    --card3: #ff1457;

}

*{
    margin: 0;
    font-family: Lato, sans-serif;
    font-size: 17px;
    color: var(--font-color);

}

body{
    background-color: var(--bg-color);
}

.center-div{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 350px;
    background-color: var(--bg-center);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    border: 2px solid white;
    box-shadow: 10px 10px 20px #ffffff50;
    overflow: hidden;
}
.cards-panel{
    position: relative;
    background-color: var(--bg-cards);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 240px;
    border-radius: 1.5rem;
    z-index: 1;
    backdrop-filter: blur(3px);
}

p, a, b{
    font-size: 25px;
    padding: 0px!important;
    text-align: center;
    text-decoration: none;
}
a{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

b{
    margin-top: 0.4rem;
}

i{
    font-size: 3rem;
    display: flex;
}

.card-1{
    border: 3px solid var(--card1);
    box-shadow: 4px 4px 12px var(--card1);
}

.card-2{
    border: 3px solid var(--card2);
    box-shadow: 4px 4px 12px var(--card2);

}

.card-3{
    border: 3px solid var(--card3);
    box-shadow: 4px 4px 12px var(--card3);
}

.video-position{
    position: fixed;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

/*Ao passar o mouse em cima*/

.card-1:hover{
    transition: 0.6s;
    text-shadow: 3px 1px 1px black;
    background-color: var(--card1);
    cursor: pointer;
    box-shadow: -4px -4px 20px var(--card1),
    4px 4px 20px var(--card1)

}

.card-2:hover{
    transition: 0.6s;
    text-shadow: 3px 1px 1px black;
    background-color: var(--card2);
    cursor: pointer;
    box-shadow: -4px -4px 20px var(--card2),
    4px 4px 20px var(--card2)
}

.card-3:hover{
    transition: 0.6s;
    text-shadow: 3px 1px 1px black;
    background-color: var(--card3);
    cursor: pointer;
    box-shadow: -4px -4px 20px var(--card3),
                4px 4px 20px var(--card3)
}
